nav,
footer {
  background-color: #deb887;
}

button {
  background-color: #deb887;
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 7px;
}

.nav-bar > ul > div > button {
  background: transparent;
  border: none;
  padding: 0;
}

#adopt-a-pet {
  text-shadow: 4px 4px 5px #deb887;
}

.cursor-pointer:hover{
  cursor: pointer;
  text-decoration: underline;
}

.container > .col {
  width: 200px;
}

#pet-picture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}